@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Unbounded&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #000000 #4f4f4f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #4f4f4f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 15px;
    border: 0px none #b0b0b0;
  }

.about{
  color: rgba(255, 255, 255, 0.6);
}
.logo{
  width: 15%!important;
}

.unbounded {
  font-family: "Unbounded", cursive;
}
.poppins{
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white !important;
}

.container {
  width: 80%;
  margin: auto;
}
.note-primary {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px 20px 20px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
  border: 1px solid black;
}

.heading {
  background-color: rgb(0, 0, 0);
  display: inline;
}
/* Btn */
.report-btn{
  padding: 1rem;
  width: 25%;
  border-radius: 15px 15px 15px 15px;
  font-size: 1rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  color: white!important;
  cursor: pointer!important;
  transition: all ease-in-out 0.3s;
}
.dropdown-menu{
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.dropdown-item{
  display: flex !important;
  align-items: flex-end !important;
}
@media screen and (max-width:1000px){
  .report-btn{
    width: 20%;
  }    
  .logo{
    width: 20%!important;
  }
}
@media screen and (max-width:800px){
  .report-btn{
    width: 30%;
  }
}
@media screen and (max-width:500px){
  .report-btn{
    width: 40vw;
  }
  .logo{
    width: 25%!important;
  }
}



/*  */

body, head {
  display: block;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  
}

body::before {
  text-shadow: 0.2955045882em 1.8142362965em 7px hsla(122.904860414deg, 100%, 50%, 0.9), 2.2089111058em 1.4127912793em 7px hsla(212.1345301173deg, 100%, 50%, 0.9), 1.8388629963em 1.8188124587em 7px hsla(289.4104304121deg, 100%, 50%, 0.9), 2.25599726em 1.0165862993em 7px hsla(59.6577465819deg, 100%, 50%, 0.9), 0.1295372081em 0.8478978008em 7px hsla(122.0024470312deg, 100%, 50%, 0.9), -0.2236544383em 2.1377997253em 7px hsla(116.7515221562deg, 100%, 50%, 0.9), 2.0446615525em 0.6284328398em 7px hsla(120.7621446439deg, 100%, 50%, 0.9), 0.5553042064em -0.3248714193em 7px hsla(191.9403731924deg, 100%, 50%, 0.9), 0.038261653em 0.41662416em 7px hsla(152.2457482744deg, 100%, 50%, 0.9), 2.1118392897em 0.118446061em 7px hsla(260.1825281275deg, 100%, 50%, 0.9), 0.7010112718em -0.3288161207em 7px hsla(17.4777628643deg, 100%, 50%, 0.9), -0.1017827498em 1.8054269233em 7px hsla(60.9390938041deg, 100%, 50%, 0.9), 0.0084451799em 1.7232121492em 7px hsla(333.1617512598deg, 100%, 50%, 0.9), 0.7188849058em 1.969113709em 7px hsla(147.4308080527deg, 100%, 50%, 0.9), 1.9830687328em 2.3467526275em 7px hsla(129.351932157deg, 100%, 50%, 0.9), 0.4468573246em 0.6740073326em 7px hsla(286.7356966278deg, 100%, 50%, 0.9), 0.285624358em 2.0733565066em 7px hsla(290.1515937898deg, 100%, 50%, 0.9), 0.816038667em 2.4175600804em 7px hsla(257.0456275729deg, 100%, 50%, 0.9), 2.0914153724em 1.2537981247em 7px hsla(118.0829046485deg, 100%, 50%, 0.9), 2.479009111em -0.08745853em 7px hsla(251.5573641472deg, 100%, 50%, 0.9), -0.1303359665em 0.9629636357em 7px hsla(222.8165955592deg, 100%, 50%, 0.9), 1.5494305961em 2.0638309415em 7px hsla(225.6656525892deg, 100%, 50%, 0.9), 0.3064080157em 1.8886126943em 7px hsla(322.4985300908deg, 100%, 50%, 0.9), 2.3104220945em 2.4157310533em 7px hsla(55.6587634393deg, 100%, 50%, 0.9), -0.0168905393em 1.1152718768em 7px hsla(168.6381557427deg, 100%, 50%, 0.9), -0.3920110589em -0.1352898901em 7px hsla(176.6685856849deg, 100%, 50%, 0.9), 0.4556368113em 1.4497876907em 7px hsla(155.7781762353deg, 100%, 50%, 0.9), 2.2880225703em 0.2280951995em 7px hsla(236.9002311245deg, 100%, 50%, 0.9), 0.7097087895em 1.5184042651em 7px hsla(332.4983519914deg, 100%, 50%, 0.9), 0.3178176957em 2.0673112087em 7px hsla(270.1323668067deg, 100%, 50%, 0.9), 0.84811702em 0.4967116948em 7px hsla(4.2324462007deg, 100%, 50%, 0.9), 2.1764142622em -0.1816636376em 7px hsla(142.7740976448deg, 100%, 50%, 0.9), 2.4185701119em 2.4204708567em 7px hsla(195.2687448613deg, 100%, 50%, 0.9), 0.7442853811em 1.3743060218em 7px hsla(272.4229232879deg, 100%, 50%, 0.9), 0.9145080396em 2.1714363177em 7px hsla(125.2392379329deg, 100%, 50%, 0.9), 0.0484021588em 1.6493505547em 7px hsla(310.7330676893deg, 100%, 50%, 0.9), 1.8702440139em 1.1236074961em 7px hsla(169.3766593679deg, 100%, 50%, 0.9), 0.4049929675em 1.2926152987em 7px hsla(110.7921669504deg, 100%, 50%, 0.9), 2.2790567064em 1.9552121174em 7px hsla(92.685148265deg, 100%, 50%, 0.9), 1.393673609em 0.2560201748em 7px hsla(43.1616353395deg, 100%, 50%, 0.9), -0.1999705029em 0.4746977073em 7px hsla(310.3952945496deg, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
  
}

body::after {
  text-shadow: 0.2085840396em 1.2187693068em 7px hsla(302.416297353deg, 100%, 50%, 0.9), 2.410915163em -0.3362045997em 7px hsla(64.1740970714deg, 100%, 50%, 0.9), -0.1576831675em 1.2536102457em 7px hsla(86.1956710486deg, 100%, 50%, 0.9), 1.9232883688em 1.0616369714em 7px hsla(269.7970942937deg, 100%, 50%, 0.9), 0.8341955998em 2.0666230019em 7px hsla(133.3495167738deg, 100%, 50%, 0.9), 0.6893955031em 1.7214296546em 7px hsla(70.0635871711deg, 100%, 50%, 0.9), 0.292219333em 0.3763925627em 7px hsla(94.8015528175deg, 100%, 50%, 0.9), 0.8587704222em -0.4257681796em 7px hsla(206.9912581762deg, 100%, 50%, 0.9), 1.2459707282em 2.3169538859em 7px hsla(250.7930591171deg, 100%, 50%, 0.9), -0.492231872em 1.4915584704em 7px hsla(283.6110468333deg, 100%, 50%, 0.9), -0.1856070237em 2.4583800496em 7px hsla(291.2201855937deg, 100%, 50%, 0.9), -0.2041766052em -0.1274576943em 7px hsla(130.7690342208deg, 100%, 50%, 0.9), 0.6020002774em 1.838849701em 7px hsla(184.2200848371deg, 100%, 50%, 0.9), 0.7777858362em 1.3741697472em 7px hsla(137.4126395197deg, 100%, 50%, 0.9), 0.8349663834em 0.9358803334em 7px hsla(170.5343962359deg, 100%, 50%, 0.9), 0.7370649869em 0.7851716841em 7px hsla(304.1465747366deg, 100%, 50%, 0.9), 0.4182113349em 0.9912559669em 7px hsla(104.0122664034deg, 100%, 50%, 0.9), 1.1817099059em 0.7494683297em 7px hsla(313.1049158612deg, 100%, 50%, 0.9), 1.3859309599em 0.9204582081em 7px hsla(6.7557705518deg, 100%, 50%, 0.9), 0.0913685479em 1.4171977934em 7px hsla(31.2426079552deg, 100%, 50%, 0.9), -0.3580904989em 2.2427217739em 7px hsla(100.8813842948deg, 100%, 50%, 0.9), 2.0105388698em 1.4967834594em 7px hsla(81.1651156316deg, 100%, 50%, 0.9), 0.9562978515em 0.5070783125em 7px hsla(214.4004118584deg, 100%, 50%, 0.9), 1.4305111447em 0.7479522248em 7px hsla(31.1118584839deg, 100%, 50%, 0.9), 1.9042412135em 0.3632537983em 7px hsla(39.7171896446deg, 100%, 50%, 0.9), -0.2054250361em 0.4375559088em 7px hsla(258.2350585332deg, 100%, 50%, 0.9), 1.4646423757em 1.3730926139em 7px hsla(206.7445279491deg, 100%, 50%, 0.9), 1.8849747581em 2.3017417373em 7px hsla(252.0594803455deg, 100%, 50%, 0.9), -0.2645942156em 1.3099465035em 7px hsla(270.4704940271deg, 100%, 50%, 0.9), 2.1825454516em 0.4274908615em 7px hsla(22.68774322deg, 100%, 50%, 0.9), 0.4151543617em 2.0095200055em 7px hsla(267.4683443842deg, 100%, 50%, 0.9), 1.9365525208em 0.9619434063em 7px hsla(182.5966872749deg, 100%, 50%, 0.9), 0.2275913102em 1.6022364078em 7px hsla(38.3517517141deg, 100%, 50%, 0.9), 1.9661808531em 2.0659016647em 7px hsla(155.4951409763deg, 100%, 50%, 0.9), 0.6184614605em 0.87496481em 7px hsla(48.6269059452deg, 100%, 50%, 0.9), 0.4183147311em 0.1152420085em 7px hsla(332.9649032454deg, 100%, 50%, 0.9), -0.3542760031em 1.7019327962em 7px hsla(11.4095913681deg, 100%, 50%, 0.9), 0.8632094073em 0.9346928682em 7px hsla(56.9221465367deg, 100%, 50%, 0.9), -0.1872618375em 1.7497137373em 7px hsla(212.5459755592deg, 100%, 50%, 0.9), 1.8397709139em 2.1623663108em 7px hsla(268.2720395409deg, 100%, 50%, 0.9), -0.2648409765em 0.9362341692em 7px hsla(345.0136875006deg, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
  
}

head::before {
  text-shadow: -0.3524244838em 0.197975495em 7px hsla(60.7565450212deg, 100%, 50%, 0.9), 1.6039435759em 0.2802591987em 7px hsla(73.2588859863deg, 100%, 50%, 0.9), -0.0509122672em 0.6724706156em 7px hsla(86.4833663431deg, 100%, 50%, 0.9), 0.0411816119em 2.3698595423em 7px hsla(109.710827978deg, 100%, 50%, 0.9), 1.4333888713em 1.5907470033em 7px hsla(120.4552286316deg, 100%, 50%, 0.9), 1.9811628598em -0.1622377856em 7px hsla(211.3246113545deg, 100%, 50%, 0.9), 0.0024942017em 1.2691132421em 7px hsla(241.1056176299deg, 100%, 50%, 0.9), 0.3251023832em 2.4424197982em 7px hsla(216.3954796195deg, 100%, 50%, 0.9), 0.4879427721em 2.3157366187em 7px hsla(348.7475249842deg, 100%, 50%, 0.9), 2.3419638722em 0.8895718287em 7px hsla(175.4084431764deg, 100%, 50%, 0.9), 0.1454987189em 0.4020959241em 7px hsla(284.7237693954deg, 100%, 50%, 0.9), -0.47732227em 0.6060538003em 7px hsla(81.5145807395deg, 100%, 50%, 0.9), 1.6886206381em 1.6331172733em 7px hsla(63.1699759071deg, 100%, 50%, 0.9), 1.3207103038em 1.5398242832em 7px hsla(307.6561947882deg, 100%, 50%, 0.9), 0.6609655951em 1.7707980164em 7px hsla(258.8067815044deg, 100%, 50%, 0.9), 1.1615204644em -0.2518451946em 7px hsla(200.1660098929deg, 100%, 50%, 0.9), 1.6399572537em 1.3732253263em 7px hsla(57.9725361687deg, 100%, 50%, 0.9), -0.4783114019em 1.5507878771em 7px hsla(41.4192596283deg, 100%, 50%, 0.9), 2.0756864833em 0.4804674085em 7px hsla(58.1847430741deg, 100%, 50%, 0.9), 2.1481735426em -0.0044511964em 7px hsla(204.4697007818deg, 100%, 50%, 0.9), 1.9264862968em 0.7494552875em 7px hsla(79.4841791264deg, 100%, 50%, 0.9), 0.0242143254em 0.533089744em 7px hsla(277.0805036735deg, 100%, 50%, 0.9), -0.3489663949em 2.1129615629em 7px hsla(34.9749666625deg, 100%, 50%, 0.9), 0.2476156865em 0.4620137657em 7px hsla(346.3626025637deg, 100%, 50%, 0.9), -0.0913277177em 1.8649173193em 7px hsla(290.3079763134deg, 100%, 50%, 0.9), 0.56704403em 2.0767271425em 7px hsla(252.590626758deg, 100%, 50%, 0.9), 2.1347419741em 1.3534471282em 7px hsla(75.6811363356deg, 100%, 50%, 0.9), 0.1779031411em 1.7997087653em 7px hsla(239.8597530115deg, 100%, 50%, 0.9), 0.5087753135em 0.3928028429em 7px hsla(3.7401192848deg, 100%, 50%, 0.9), 0.0005750864em -0.4703626038em 7px hsla(333.9679285832deg, 100%, 50%, 0.9), -0.2375755399em 1.2505481594em 7px hsla(90.0937168995deg, 100%, 50%, 0.9), 1.3328865596em 1.9840184667em 7px hsla(211.5524705126deg, 100%, 50%, 0.9), 0.6719315521em 0.7415972738em 7px hsla(335.2454376283deg, 100%, 50%, 0.9), 2.0587570786em 1.2128134902em 7px hsla(265.7147722065deg, 100%, 50%, 0.9), 0.9574062785em -0.3692795771em 7px hsla(173.0684444246deg, 100%, 50%, 0.9), 1.5196650723em 0.3876286554em 7px hsla(144.1202190229deg, 100%, 50%, 0.9), -0.0786009828em 0.1653839908em 7px hsla(335.0048571344deg, 100%, 50%, 0.9), 2.4250713057em 1.1655390023em 7px hsla(317.4051297924deg, 100%, 50%, 0.9), 0.1167569243em 1.4525549834em 7px hsla(348.380773396deg, 100%, 50%, 0.9), 1.4234692897em 1.176956008em 7px hsla(319.9630644659deg, 100%, 50%, 0.9), 1.058006305em 0.2203838252em 7px hsla(94.4645252799deg, 100%, 50%, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
  
}

head::after {
  text-shadow: 1.751724099em -0.242837148em 7px hsla(274.1222802001deg, 100%, 50%, 0.9), -0.0793663417em 1.4806930833em 7px hsla(47.5963211991deg, 100%, 50%, 0.9), 0.5461894818em 1.390110797em 7px hsla(56.5381685268deg, 100%, 50%, 0.9), -0.2109281172em 2.4912523551em 7px hsla(204.2957695586deg, 100%, 50%, 0.9), -0.2143656746em 0.5564580531em 7px hsla(177.7477698961deg, 100%, 50%, 0.9), 1.455816213em 2.2599623916em 7px hsla(204.157298779deg, 100%, 50%, 0.9), 0.2614370207em 0.3536840431em 7px hsla(149.4646332734deg, 100%, 50%, 0.9), 0.9057927133em -0.0107599962em 7px hsla(186.7427238561deg, 100%, 50%, 0.9), -0.2374322185em 0.6658475201em 7px hsla(170.7073280307deg, 100%, 50%, 0.9), 0.5622471283em -0.2191887365em 7px hsla(299.5329921493deg, 100%, 50%, 0.9), 0.1447661975em 1.9698671784em 7px hsla(346.0465941301deg, 100%, 50%, 0.9), 2.3256230957em 0.9881566082em 7px hsla(281.0490824654deg, 100%, 50%, 0.9), 0.3746776407em 0.0492637059em 7px hsla(292.1240474655deg, 100%, 50%, 0.9), 1.8123882323em 1.549024096em 7px hsla(334.8067412263deg, 100%, 50%, 0.9), 1.7396752832em 1.2665424753em 7px hsla(194.9113070416deg, 100%, 50%, 0.9), -0.3919856254em 1.0396623623em 7px hsla(35.7036169786deg, 100%, 50%, 0.9), 1.5094223714em 2.033201366em 7px hsla(228.0638902913deg, 100%, 50%, 0.9), 1.8380836512em 0.3189385388em 7px hsla(318.3899849736deg, 100%, 50%, 0.9), 1.903323084em -0.1321024223em 7px hsla(358.2424524846deg, 100%, 50%, 0.9), 1.9126667403em -0.0840787659em 7px hsla(46.2402557026deg, 100%, 50%, 0.9), 2.0597517079em -0.0706495519em 7px hsla(329.1145597943deg, 100%, 50%, 0.9), 0.3515178645em 0.9028049108em 7px hsla(286.3685970513deg, 100%, 50%, 0.9), 1.5863809783em 0.242914418em 7px hsla(1.9158502983deg, 100%, 50%, 0.9), 0.5356972455em 1.4323441952em 7px hsla(187.8970444549deg, 100%, 50%, 0.9), 0.0567268342em 0.0152714875em 7px hsla(116.5873577282deg, 100%, 50%, 0.9), 0.4412075857em 1.6436835662em 7px hsla(188.4954090128deg, 100%, 50%, 0.9), 0.2140273024em 2.449436875em 7px hsla(112.5802341439deg, 100%, 50%, 0.9), 1.5651675848em 1.9425447663em 7px hsla(266.9961347027deg, 100%, 50%, 0.9), 1.2688088351em 2.2423944788em 7px hsla(336.1254034095deg, 100%, 50%, 0.9), 0.505568498em 0.7461685472em 7px hsla(42.0286331759deg, 100%, 50%, 0.9), 1.8238318069em 0.6592084373em 7px hsla(18.326167896deg, 100%, 50%, 0.9), 0.7369300217em -0.4630930168em 7px hsla(222.7395611124deg, 100%, 50%, 0.9), 0.631076452em 1.7930334471em 7px hsla(331.5009620259deg, 100%, 50%, 0.9), 0.2824030223em 0.0189446879em 7px hsla(244.4405978566deg, 100%, 50%, 0.9), 0.6040783669em 1.6078158322em 7px hsla(223.2145693501deg, 100%, 50%, 0.9), 1.4948552354em 1.4211710423em 7px hsla(220.6320583563deg, 100%, 50%, 0.9), -0.201991862em 1.2418655397em 7px hsla(144.6778787031deg, 100%, 50%, 0.9), 1.3776440581em 1.5227523142em 7px hsla(62.2926576507deg, 100%, 50%, 0.9), 1.3328468008em 2.3940453327em 7px hsla(243.0788086462deg, 100%, 50%, 0.9), 2.4582292972em -0.102230033em 7px hsla(172.6569980784deg, 100%, 50%, 0.9), 1.7211969738em 0.8511247766em 7px hsla(210.598398207deg, 100%, 50%, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
  
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}